name: Update flake.lock

on:
  schedule:
    # Run every Wednesday at 17:00 UTC to keep flake.lock updated
    - cron: "0 17 * * 3"
  workflow_dispatch:

jobs:
  update-flake:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
    steps:
      - uses: actions/checkout@v6

      - name: Install Nix
        uses: cachix/install-nix-action@v31

      - name: Check Flake
        run: nix flake check

      - name: Update flake.lock
        run: nix flake update

      - name: Commit changes
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "41898282+github-actions[bot]@users.noreply.github.com"
          git add .
          git commit -m "Update flake.lock"
          git push
